
<div class="container1">
    <span>
        <button  [routerLink]="['/Elije']" class="posicion families">Regresar</button>
    </span>
<div class="container2">
    <img src="../../../assets/logominimo.png"  class="img-fluid" alt="Logo cresentia" width="150px"
    height="60px">
</div>
</div>
<body>


    <div class="container">
        <div class="circle3"></div>
        <div class="circle2"></div>
      <h1 id="title1">Hola </h1>
      <h1 id="title2">Gracias por estar aquí.</h1>
      <h1 id="title3">¿Te parece si nos conocemos un poco mejor?</h1>
      <button [routerLink]="['/Crearcuenta']" class="btn hijo">Para mi 😎</button>
      <button [routerLink]="['/Antepaginaadultos']" class="btn yo">Para mi hijo / hija</button>
      <span class="mi-caja">Dale Sentido a tu Vida</span>
    </div>
  </body>